body, h1, p, button {
    border-radius: 10px; /* 你可以根据需要调整圆角的大小 */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column; /* 使元素纵向排列 */
}

.container {
    text-align: center;
}

h1, p, button {
    margin: 10px 0; /* 添加一些间距 */
}

