body, h1, p, button {
    border-radius: 10px; /* 你可以根据需要调整圆角的大小 */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column; /* 使元素纵向排列 */
    background-image: url(CFB9675AA822D3C28DD33307D4FC61A0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    text-align: center;
}

h1, p, button {
    margin: 10px 0; /* 添加一些间距 */
}
.bg {
    position: fixed;
    width: 450px;
    height: 253px;
    overflow: hidden;
  }
  .bg-image {
    width: 100%;
    filter: blur(5px);
  }
  .bg-image::after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
